{% extends 'blog/base.htm' %}
{% block content %}
  {% if user.is_authenticated %}
  <div class="row pull-right">
    <a href="{% url 'post_form' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>New Post</a>
  </div>
  {% endif %}
  {% for post in posts %}
  <div class="row">
      <h2><a href="{% url 'post_detail' id=post.pk %}">{{ post.title }}</a></h2>
      <p>Published on: {{ post.published_date }}</p>
      <p>{{ post.text|linebreaksbr }}</p>
  </div>
  {% endfor %}

  <div class="row">
    <h2>Dummy Blog Title 1</h2>
    <p>published: 14.06.2014, 12:14</p>
    <p><a href="">My first post</a></p>
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  </div>
{% endblock %}
