.container h1 {
  color: #FF0055;
}

.row h2 a {
  color: #0033FF;
}

.page-header {
    background-color: #ffCC99;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.row {
  border-bottom: 1px solid #ff9966;
}
